.cabecalho__menu__sanduiche{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url("../imagens/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho{
    background-color: var(--cor_branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__img{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__check{
    display: none;
}

.container__check:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo{
    padding: 1em;
    background-color: var(--cor_branca);
    color: var(--cor_amarelo);
    text-align: flex-start;
    font-weight: 700;
    width: 100%;
    text-decoration: bold;
    font-family: var(--fonte_menu);
    text-transform: uppercase;

}
.lista-menu__item{
    padding: 1em;
    background-color: var(--cor_branca);
    text-align: flex-start;
    width: 100%;
    text-decoration: none;
    font-family: var(--fonte_menu);
    text-transform: uppercase;
}

.lista-menu__link{
    background: var(--cor_azul_degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    font-family: var(--fonte_menu);

}